@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.item:hover span {
  display: none;
}

.item:hover:before {
  content: "Coming Soon!";
}

::-webkit-scrollbar {
  width: auto;
}

::-webkit-scrollbar-track {
  background: #171717;
}

::-webkit-scrollbar-thumb {
  background: rgb(168 85 247);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(192 132 252);
}
